<footer class="text-center pt-5 bg-light">
    <section id = "contato">
            <h3>Contato</h3>
            <p>Rua Fulano Beltrano, 000 - Devlândia, Brasil <br>contato@buscapet.com | Tel: (00) 0.0000-0000</p>
            <p>Visite as redes sociais do Busca Pet</p>
            <div class="container pb-4" style="text-align-last: inherit;">
                <div class="button-options" style="display: inline;">
                    <a href="https://www.instagram.com/" target="_blank" style="text-decoration: none;">
                        <img src="img/instagram.png" alt="" style="width: 22px; margin-left: 0.8%;">
                    </a>
                    <a href="https://www.facebook.com/" target="_blank" style="text-decoration: none;">
                        <img src="img/fb.png" alt="" style="width: 22px; margin-left: 0.8%;">
                    </a>
                    <a href="https://www.twitter.com/" target="_blank" style="text-decoration: none;">
                        <img src="img/tt.png" alt="" style="width: 22px; margin-left: 0.8%; margin-right: 0.8%;">
                    </a>               
                </div>            
            </div>
            <p>Solução desenvolvida por Stheffany Cruvinel e Jean Carlos de Souza Silva</p>
    </section>
</footer>