<div class="container col-md-8 offset-md-4 pb-5" style="margin-top: 13%;">
    <div class="row">
        <div class="container">
            <div class="col-md-6" style="background-color:#fff; border-radius: 10px; box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);">
                <h4 class="pt-3 col-md-5 offset-md-4">Já é cliente? Acesse sua conta</h4>
                <form action="" method="POST">
                    <div class="container col-md-8 pt-5">
                    <input class="form-control" type="text" name="email" placeholder="E-mail">
                    </div>
                    <div class="container col-md-8 pt-3">
                        <input class="form-control" type="password" name="senha" placeholder="Senha">
                    </div>
                    <div class="container col-md-8 pt-3">
                        <button type="submit" class="form-control" style="background-color:#77D353; color:#fff; border: none;">Entrar</button>
                    </div>
                </form>
                <div class="container col-md-9 offset-md-5 pt-3">
                    <a href="" style="text-decoration: none;">
                        <span style="margin-left: 9%;">Esqueceu sua senha?</span>
                    </a>
                </div>
                <div class="container pb-5 col-md-9 offset-md-2">
                    <a href="/register" style="text-decoration: none;">
                        <span style="margin-left: 9%;">Ainda não é cliente? Registre-se aqui!</span>
                    </a>
                </div>
                <div class="container pb-5 col-md-9">
                    {{#if error}}
                        <div class="alert alert-warning text-center" role="alert">
                            {{error}}
                        </div>
                    {{else}}

                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>