    <div class="fixed-top faixa-nav" style="background-color: #77D353; color: #fff; height: 35px;">
        <div class="container" style="text-align-last: inherit;">
            <img src="img/mail.png" alt="" style="width: 22px;"><span> contato@contato.com </span>
            <div class="button-options" style="display: inline; margin-left: 68%;">
                <a href="https://www.instagram.com/" target="_blank" style="text-decoration: none;">
                    <img src="img/insta.png" alt="" style="width: 22px; margin-left: 0.8%;">
                </a>
                <a href="https://www.facebook.com/" target="_blank" style="text-decoration: none;">
                    <img src="img/facebook.png" alt="" style="width: 22px; margin-left: 0.8%;">
                </a>
                <a href="https://www.twitter.com/" target="_blank" style="text-decoration: none;">
                    <img src="img/twitter.png" alt="" style="width: 22px; margin-left: 0.8%; margin-right: 0.8%;">
                </a>               
            </div>            
        </div>
    </div>
        <nav class="navbar navbar-expand-sm fixed-top nav" style="background-color: #fff; border-bottom: 0.2px solid #f4f3f0; margin-top: 2%; font-family: 'Ubuntu', sans-serif;">
        <div class="container">
            <img src="img/logo-busca.png" alt="Logo Busca Pet" style="width: 200px; margin-top: 0.3%; margin-left: 6%;">    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" style="background-color: #ffffff;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav" style="margin-left: 45%;">
                    <li class = "nav-item" style="margin-left: 20%;">
                        <a href ="/homepage" class= "nav-link">Página&nbsp;Inicial</a>
                    </li>
                    <li class="nav-item" style="margin-left: 20%;">
                        <a href="#cartazes" class="nav-link">Cartazes</a>
                    </li>
                    <li class="nav-item" style="margin-left: 20%;">
                        <a href="/account" class="nav-link">Minha&nbsp;conta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>